/* Reset - Config base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #121212;
    background-color: rgba(239, 239, 239,0.5);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Y Navegación */
#header{
    background-color: black;
    color: white;
    position: sticky;
    width: 100%;
    top: 0;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

nav a:hover{
    color: blue;
}

h1{
    padding: 5px;
    margin:5px 0;
}